*,
*::before,
*::after {
  box-sizing: border-box;
  outline-offset: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
